.collapsible {
    .content {
        overflow: hidden;
        max-height: 0;
        background: #F6F6F673;// Content is hidden by default
        transition: max-height 0.5s ease-out;
    }

    &.open .content {
        display: block; // Content appears when 'open' class is added
        max-height: 200px;
        transition: max-height 0.5s ease-out;
    }
}
.toggle-btn{
    background: #FF6060;
    border:none;
    color: white;
    font-size:25px;
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    display: flex;
    width:75vw;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 15px;
    border-radius: 5px;
    margin-top: 40px;
    justify-content:space-between;
    align-items:center;
}
