.collapsible {width:75vw;
    .content {
        overflow: hidden;
        max-height: 0;
        background: #F6F6F673;// Content is hidden by default
        transition: max-height 0.5s ease-out;
        font-family: 'Montserrat', sans-serif;
        width:96%;
        padding:0px 2% 0px 2%;
    }

    &.open .content {
        max-height: 150px;
        transition: max-height 0.5s ease-out;
        
    }
}

.fa-chevron-up {
    display: inline-block;
    transition: transform 0.5s ease-in-out;
    &.open{
    transform: rotate(-180deg);
}}
.toggle-btn{
    background: #FF6060;
    border:none;
    color: white;
    font-size:25px;
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    display: flex;
    width:75vw;
    padding:10px 20px 10px 15px;
    border-radius: 5px;
    margin-top: 40px;
    justify-content:space-between;
    align-items:center;
}
