.tag-list {
    display: flex;
}

.tag {
    background-color: #FF6060;
    margin-right: 10px;
    border-radius: 5px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: white;
    padding: 5px 20px 5px 20px;
}